<% include partials/header.ejs %>
<% console.log(rs.length) %>
<% if(rs.length == 1) { %>
<ul>
    <li>Street: <%= rs[0].staddress %></li>
    <li>City: <%= rs[0].city %></li>
    <li>State: <%= rs[0].state %></li>
    <li>Zip: <%= rs[0].zip %></li>
</ul>
<a href="../edit?a_id=<%= rs[0].a_id %>">Edit</a>
<% }%>
<br />
<% include partials/footer.ejs %>