<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <!-- &nbsp is HTML syntax for a space it stands for non break space -->
        <tr><th>Name</th><th>Address</th><th>&nbsp;</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/company/edit?c_id=<%= rs[i].c_id %>"> <%= rs[i].cname %></a></td>
            <% var address = rs[i].staddress + " " + rs[i].city + ", " + rs[i].state + " " + rs[i].zip; %>
            <td><%= address %></td>
            <td><a href="/company/delete?company_id=<%= rs[i].company_id %>&name=<%= rs[i].name %>">Delete</a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No companies are entered into the company database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/company/create">Create New Company</a>
</div>

